<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit My Account</h1>
    <a href="/quotes">Go Back</a>

    <p>Hello {{welcomeUser.first_name}} {{welcomeUser.last_name}}</p>

    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{message}}</p>
    {% endfor %}
    {% endif %}    
    <form action="/editProfile/{{welcomeUser.id}}" method="post">
        {% csrf_token %}
        <p>First Name: <input type="text" name="fname" id="" value = "{{welcomeUser.first_name}}"></p>
        <p>Last Name: <input type="text" name="lname" id="" value = "{{welcomeUser.last_name}}"></p>
        <p>Email: <input type="text" name="email" id="" value = "{{welcomeUser.email}}"></p>

        <input type="submit" value="Update">
</body>
</html>